h1,
h2,
h3,
p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  width: 1170px;
  margin: 0 auto;
  color: white;
  padding: 60px 0;
}

.header {
  background-color: #4ebefe;
}

.hero__foto {
  width: 50%;
}

.main__logo {
  width: 8%;
  margin-bottom: 50px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero__main {
  width: 430px;
  margin-top: 147px;
}

.hero__title span {
  color: green;
  font-size: 36px;
  line-height: 1.6em;
}

.hero__description {
  line-height: 1.6em;
  margin-top: 10px;
  margin-bottom: 37px;
}

.btn {
  display: block;
  width: 180px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  padding: 15px 0;
  background-color: darkorange;
  color: white;
  border-radius: 34px;
  border: none;
}

.about {
  width: 1170px;
  text-align: center;
  font-size: 14px;
  padding: 90px 0;
  margin: 0 auto;
}

.about__title {
  padding-bottom: 20px;
}

.about__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__item {
  text-align: left;
  width: 200px;
}

img {
  width: 60px;
}

.sub-form {
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: thistle;
  padding: 60px 0;
}

.sub-form__container {
  width: 1170px;
  margin: 0 auto;
}

.sub-form__title {
  margin-bottom: 40px;
}

.input {
  border-radius: 10px;
  border: none;
  padding: 20px;
  width: 450px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer {
  background-color: teal;
  color: white;
  padding: 20px 0;
  text-align: center;
}
